<div class="container">
  <div class="card card-container">
      <img id="profile-img" class="profile-img-card" src="//ssl.gstatic.com/accounts/ui/avatar_2x.png" />
      <form class="form-signin" novalidate  #myForm="ngForm">
          <span id="reauth-email" class="reauth-email"></span>
          <input type="email" id="inputEmail" #email="ngModel" name="email" [(ngModel)]="paramsdata.email" class="form-control" placeholder="Email address" required autofocus>
          <input type="password" id="inputPassword" name="password"   isWhitespace #password="ngModel" [(ngModel)]="paramsdata.password" class="form-control" placeholder="Password" required>
          <div id="remember" class="checkbox">
              <label>
                  <input type="checkbox" value="remember-me"> Remember me
              </label>
          </div>
          <button class="btn btn-lg btn-primary btn-block btn-signin" type="submit" (click)="login(myForm)">Sign in</button>
      </form><!-- /form -->
      <a href="#" class="forgot-password">
          Forgot the password?
      </a>
  </div><!-- /card-container -->
</div><!-- /container -->