<nav class="sidebar sidebar-offcanvas" id="sidebar">
  <ul class="nav">
    <li class="nav-item nav-profile">
      <div class="nav-link">
        <div class="user-wrapper">
          <div class="profile-image">
            <img src="assets/images/faces/face1.jpg" alt="profile image" >
            <!-- *ngIf="!userinfo?.meta?.image_url" -->
            <!-- <img [src]="userinfo?.meta?.image_url" alt="profile image" *ngIf="userinfo?.meta?.image_url"> -->
          </div>
          <div class="text-wrapper">
            <p class="profile-name">{{userinfo?.data?.first_name}} {{userinfo?.data?.last_name}}</p>
            <div>
              <small class="designation text-muted">Manager</small>
              <span class="status-indicator online"></span>
            </div>
          </div>
        </div>
        <button class="btn btn-success btn-block">New Project
          <i class="mdi mdi-plus"></i>
        </button>
      </div>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/horses" routerLinkActive="active">
        <i class="menu-icon mdi mdi-television"></i>
        <span class="menu-title">Horses</span>
      </a>
    </li>
  </ul>
</nav>
