<div class="col-lg-12 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <h2 class="card-title">Horses</h2>
        <button class="btn btn-primary button-align" routerLink="/horses/add">Add Horse</button>
        <div class="table-responsive">
            <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table table-striped table-bordered zero-configuration"></table>
        </div>
      </div>
    </div>
  </div>