/* You can add global styles to this file, and also import other style files */

@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";
@import './assets/styles/variables';
@import "../node_modules/compass-mixins/lib/compass";
@import "../node_modules/compass-mixins/lib/animate";
@import "../node_modules/bootstrap/scss/bootstrap";
@import "../node_modules/mdi/scss/materialdesignicons";
@import "../node_modules/font-awesome/scss/font-awesome";
@import "./assets/styles/fonts";
@import "./assets/styles/functions";
@import "./assets/styles/mixins/background";
@import "./assets/styles/mixins/animation";
@import "./assets/styles/mixins/badges";
@import "./assets/styles/mixins/breadcrumbs";
@import "./assets/styles/mixins/pagination";
@import "./assets/styles/mixins/buttons";
@import "./assets/styles/mixins/misc";
@import "./assets/styles/mixins/color-functions";
@import "./assets/styles/mixins/cards";
@import "./assets/styles/mixins/tooltips";
@import "./assets/styles/mixins/popovers";
@import "./assets/styles/mixins/blockqoute";
@import "./assets/styles/accordions";
@import "./assets/styles/breadcrumbs";
@import "./assets/styles/forms";
@import "./assets/styles/icons";
@import "./assets/styles/tables";
@import "./assets/styles/buttons";
@import "./assets/styles/badges";
@import "./assets/styles/cards";
@import "./assets/styles/typography";
@import "./assets/styles/preview";
@import "./assets/styles/lists";
@import "./assets/styles/bootstrap-progress";
@import "./assets/styles/bootstrap-alerts";
@import "./assets/styles/tabs";
@import "./assets/styles/dropdowns";
@import "./assets/styles/pagination";
@import "./assets/styles/popovers";
@import "./assets/styles/modals";
@import "./assets/styles/nav";
@import "./assets/styles/reset";
@import "./assets/styles/rating";
@import "./assets/styles/layouts";
@import "./assets/styles/tooltips";
@import "./assets/styles/responsive";
@import "./assets/styles/misc";
@import "./assets/styles/utilities";
@import "./assets/styles/demo";

.dataTables_wrapper {
    padding-top: 10px; }
  
  .dt-buttons {
    display: inline-block;
    margin-bottom: 15px;
    padding-top: 5px; }
    .dt-buttons .btn {
      margin-bottom: 10px; }
  
  .dt-buttons .dt-button {
    border-radius: 4px;
    margin-right: 3px;
    padding: 5px 15px; }
  
  .dataTables_info,
  .dataTables_length {
    display: inline-block; }
  
  .dataTables_length {
    margin-top: 10px; }
  
  .dataTables_length select {
    background-color: transparent;
    background-position: center bottom, center calc(100% - 1px);
    background-repeat: no-repeat;
    background-size: 0 2px, 100% 1px;
    border: 0 none;
    padding-bottom: 5px;
    transition: background 0s ease-out 0s; }
  
  .dataTables_length select:focus {
    background-size: 100% 2px, 100% 1px;
    box-shadow: none;
    outline: medium none;
    transition-duration: 0.3s; }
  
  .dataTables_filter {
    float: right;
    margin-top: 10px; }
  
  .dataTables_filter input {
    background-color: transparent;
    background-position: center bottom, center calc(100% - 1px);
    background-repeat: no-repeat;
    background-size: 0 2px, 100% 1px;
    border: 0 none;
    border-radius: 0;
    box-shadow: none;
    float: none;
    margin-left: 10px;
    transition: background 0s ease-out 0s; }
  
  .dataTables_filter input:focus {
    background-size: 100% 2px, 100% 1px;
    box-shadow: none;
    outline: medium none;
    transition-duration: 0.3s; }
  
  table.dataTable thead .sorting,
  table.dataTable thead .sorting_asc,
  table.dataTable thead .sorting_asc_disabled,
  table.dataTable thead .sorting_desc,
  table.dataTable thead .sorting_desc_disabled {
    background: transparent; }
  
 
  
 
  
  .dataTables_wrapper .dataTables_paginate {
    padding-top: 0.25em;
    text-align: right; }
  
  .dataTables_wrapper .dataTables_paginate .paginate_button {
    border: 1px solid rgba(120, 130, 140, 0.13);
    box-sizing: border-box;
    cursor: pointer;
    display: inline-block;
    min-width: 1.5em;
    padding: 0.5em 1em;
    text-align: center;
    text-decoration: none; }
  
  .dataTables_wrapper .dataTables_paginate .paginate_button.disabled,
  .dataTables_wrapper .dataTables_paginate .paginate_button.disabled:active,
  .dataTables_wrapper .dataTables_paginate .paginate_button.disabled:hover {
    background: transparent;
    box-shadow: none;
    cursor: default; }
  
  .dataTables_wrapper .dataTables_paginate .paginate_button:active {
    outline: medium none; }
  
  .dataTables_wrapper .dataTables_paginate .ellipsis {
    padding: 0 1em; }
  
  .dt-bootstrap {
    display: block; }
  
  .paging_simple_numbers .pagination .paginate_button {
    padding: 0; }
  
  .paging_simple_numbers .pagination .paginate_button a {
    border: 0 none;
    padding: 2px 10px; }

/* You can add global styles to this file, and also import other style files */
