<div class="container-scroller">
  <app-navbar></app-navbar>
  <div class="container-fluid page-body-wrapper">
    <app-sidebar></app-sidebar>
    <div class="main-panel">
      <div class="content-wrapper">
        <div class="loader"  [hidden]="!loading">
          <div class="loader-inner">
            <div class="L"></div>
            <div class="outter">
              <div class="mid">
              </div>
            </div>
            <div class="ADING"></div>
          </div>
        </div>
        <div [hidden]="loading">
            <router-outlet></router-outlet>
        </div>
      </div>
    </div>
  </div>
</div>
