<form #Form="ngForm" novalidate autocomplete="off">
  <div class="col-md-12 grid-margin stretch-card">
    <div class="card">
      <div class="row">
        <div class="col-md-6">
          <div class="card-body">
            <div class="form-group">
              <label>Horse Name <span>*</span></label>
              <input type="text" class="form-control form-control-lg" placeholder="Horse Name" #horse_name="ngModel"
                name="horse_name" [(ngModel)]="paramsdata.horse_name" aria-label="Horse Name" required>
              <div class="md-errors-spacer" *ngIf="horse_number.invalid && submitted">
                <div *ngIf="horse_number.errors && horse_number.hasError('required')" class="alert alert-danger"
                  role="alert">
                  Horse Name is Requied
                </div>
              </div>
            </div>
            <div class="form-group">
              <label>Horse Number</label>
              <input type="text" class="form-control form-control-lg" placeholder="Horse Number" #horse_number="ngModel"
                name="horse_number" [(ngModel)]="paramsdata.horse_number" aria-label="Horse Number" >
            </div>
            <div class="form-group">
              <label>Profile Pic </label>
              <input type="file" class="form-control form-control-lg" placeholder="Profile Pic"
                (change)="upload($event)" aria-label="Profile Pic">
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="card-body">
            <div class="form-group">
              <label>Aqha Number</label>
              <input type="text" class="form-control form-control-lg" placeholder="Aqha Number" #aqha_number="ngModel"
                name="aqha_number" [(ngModel)]="paramsdata.aqha_number" aria-label="Aqha Number" >
            </div>
            <div class="form-group">
              <label>Color</label>
              <input type="text" class="form-control form-control-lg" placeholder="Color" #color="ngModel" name="color"
                [(ngModel)]="paramsdata.color" aria-label="color" >
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="card-body">
            <button class="btn btn-primary" (click)="addeditsave(Form)">Save</button>
            <button class="btn btn-warning ml-10" [routerLink]="['horses']">Cancel</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>